.book-view {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 75%;
    padding: 12px 0;
    text-align: left;
    max-width: 800px;
    margin: 0;
  }
  
  .editable.book {
    cursor: pointer;
  }
  
  .title-author-wrapper {
    display: flex;
    flex-direction: row;
    width: 75vw;
  }
  
  .paragraph-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #222222;
    -webkit-font-smoothing: antialiased;
  }
  
  p.paragraph {
    max-width: 525px;
    text-indent: 2em;
    margin: 0 0 10px 0;
    overflow-wrap: break-word;
    font-style: italic;
    font-size: 1.2em;
    line-height: 140%;
    font-family: libre baskerville, georgia, serif;
  }
  
  .author-title {
    font-size: 14px;
    font-family: georgia, georgia, serif;
    line-height: 180%;
    padding-left: calc((100% - 525px) / 2);
  }
  
  .author-title .title-label {
    font-style: italic;
  }
  
  .book-border  {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 50%;
    margin-left: 25%;
    border-bottom: .5px solid rgba(100, 100, 100, .3);
  }